html, body { height: 100% }

.supportForm{
    align-items: center;
    width: 800px;
}

/* .carousel-item .img-fluid{
    width: 100%; 
    height: 100%;
} */

.register-form {
    margin-bottom: 50px;
}


.register-background {    
    background-image: url(../img/Corgi-banner.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}
.login-background {    
    background-image: url(../img/cat-background.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}
.jumbotron-inicio{
    background-image: url(../img/dog-relax.jpeg);
    background-size: cover;
    min-height: 600px;
    height: auto;
    
    text-shadow: 3px 3px 5px #000000;   
}

.welcome-text {
    font-family: 'Roboto',sans-serif;    
    color: white;
}
.brand-text {
    color: white;
    font-family: 'Amatic SC', cursive;
}


.booking-background {    
    background-image: url(../img/dog-cat.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
}

.center-welcome-text{
    padding-top: 150px;
}
.book-appointment-button{
    margin-left: 60px;
}

.jumbotron-booking{
    background-image: url(../img/white-bg-banner.jpg);
    background-size: cover;
    min-height: 600px;
    text-decoration: none;
}

.jumbotron-reviews{
    background-image: url(../img/dog-banner.jpg);
    background-size: cover;
    min-height: 600px;
    color: white;
    text-decoration: none;
}

.reviews-title{
    padding-top: 130px;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-shadow: 3px 3px 5px #000000;
}

.reviews-text{
    color: white;
    text-shadow: 3px 3px 5px #000000;
}

.reviews-name{
    color: white;
    text-shadow: 3px 3px 5px #000000;
}

.jumbotron-join-us{
    background-image: url(../img/dog-licking-mans-face.jpg);
    background-size: cover;
    min-height: 400px;    
    text-decoration: none;
}

.booking-jumbotron-text {
    color: rgb(39, 39, 39);
    font-family: 'Amatic SC', cursive;
    text-shadow: 3px 3px 5px #000000;
}


.join-us-text-1{
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px #000000;
}
.join-us-text-2{
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px #000000;
}

.register-button-padding{
    padding-bottom: 350px;
    padding-left: 150px;
}

.top-content .carousel-item {
    /* width: 100%; */
    height: 100vh;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .top-content .carousel-item-4 {
    background-image: url(../img/slides/slide-img-4.jpg);
} */

input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}


/* speech bubble */

.box {
  width: 500px;
  /* margin: 50px auto; */
  border-radius: 15px;
  background: #17A2B8;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
}



.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #17A2B8;
  border-right: 15px solid transparent;
  border-top: 15px solid #17A2B8;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /* width: 100%; */
  text-align: center;
}
.boxDatos{
    border: solid;
    border-color: #17A2B8;
    border-radius: 3px;
    height: 600px;
}
body{
    /* margin-top:20px; */
    background:#eee;
}
/* My Account */
.payments-item img.mr-3 {
    width: 47px;
}
/* .order-list .btn {
    border-radius: 2px;
    min-width: 121px;
    font-size: 13px;
    padding: 7px 0 7px 0;
} */
.osahan-account-page-left .nav-link {
    padding: 18px 20px;
    border: none;
    font-weight: 600;
    color: #535665;
}
.osahan-account-page-left .nav-link i {
    width: 28px;
    height: 28px;
    background: #535665;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    font-size: 15px;
    border-radius: 50px;
    margin: 0 7px 0 0px;
    color: #fff;
}
.osahan-account-page-left .nav-link.active {
    background: #f3f7f8;
    color: #282c3f !important;
}
.osahan-account-page-left .nav-link.active i {
    background: #282c3f !important;
}
.osahan-user-media img {
    width: 90px;
}
.card offer-card h5.card-title {
    border: 2px dotted #000;
}
.card.offer-card h5 {
    border: 1px dotted #daceb7;
    display: inline-table;
    color: #17a2b8;
    margin: 0 0 19px 0;
    font-size: 15px;
    padding: 6px 10px 6px 6px;
    border-radius: 2px;
    background: #fffae6;
    position: relative;
}
.card.offer-card h5 img {
    height: 22px;
    object-fit: cover;
    width: 22px;
    margin: 0 8px 0 0;
    border-radius: 2px;
}
.card.offer-card h5:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #daceb7;
    content: "";
    left: 30px;
    position: absolute;
    bottom: 0;
}
.card.offer-card h5:before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #daceb7;
    content: "";
    left: 30px;
    position: absolute;
    top: 0;
}
.payments-item .media {
    align-items: center;
}
.payments-item .media img {
    margin: 0 40px 0 11px !important;
}
.reviews-members .media .mr-3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
}
.order-list img.mr-4 {
    width: 70px;
    height: 70px;
    object-fit: cover;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    border-radius: 2px;
}
.osahan-cart-item p.text-gray.float-right {
    margin: 3px 0 0 0;
    font-size: 12px;
}
.osahan-cart-item .food-item {
    vertical-align: bottom;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.rounded-pill {
    border-radius: 50rem!important;
}
a:hover{
    text-decoration:none;
}