html, body { height: 100% }

.supportForm{
    align-items: center;
    width: 800px;
}

/* .carousel-item .img-fluid{
    width: 100%; 
    height: 100%;
} */

.register-form {
    margin-bottom: 50px;
}

.register-background {    
    background-image: url(../img/Corgi-banner.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}
.login-background {    
    background-image: url(../img/cat-background.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}
.booking-background {    
    background-image: url(../img/dog-cat.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
} 

.jumbotron-booking{
    background-image: url(../img/white-bg-banner.jpg);
    background-size: cover;
    min-height: 600px;
    text-decoration: none;
}

.jumbotron-reviews{
    background-image: url(../img/dog-banner.jpg);
    background-size: cover;
    min-height: 600px;
    color: white;
    text-decoration: none;
}

.reviews-title{
    padding-top: 130px;
    font-family: 'Amatic SC', cursive;
    text-shadow: 3px 3px 5px #000000;
}

.reviews-text{
    text-shadow: 3px 3px 5px #000000;
}

.reviews-name{
    text-shadow: 3px 3px 5px #000000;
}

.jumbotron-join-us{
    background-image: url(../img/dog-licking-mans-face.jpg);
    background-size: cover;
    min-height: 400px;    
    text-decoration: none;
}

.booking-jumbotron-text {
    color: rgb(39, 39, 39);
    /* font-family: 'Amatic SC', cursive; */
    text-shadow: 3px 3px 5px #000000;
}


.join-us-text-1{
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px #000000;
}
.join-us-text-2{
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px #000000;
}

.register-button-padding{
    padding-bottom: 350px;
    padding-left: 150px;
}

.top-content .carousel-item {
    /* width: 100%; */
    height: 100vh;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .top-content .carousel-item-4 {
    background-image: url(../img/slides/slide-img-4.jpg);
} */

input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}


/* speech bubble */

.box {
  width: 500px;
  /* margin: 50px auto; */
  border-radius: 15px;
  background: #17A2B8;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
}



.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #17A2B8;
  border-right: 15px solid transparent;
  border-top: 15px solid #17A2B8;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.book-appointment-button {
    background: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.boxDatos{
    border: solid;
    border-color: #17A2B8;
    border-radius: 3px;
    height: 600px;
}
