.supportForm{
    align-items: center;
    width: 800px;
}

.carousel-item .img-fluid{
    width: 100%;
    height: 100%;
}

.jumbotron-booking{
    background-image: url(../img/white-bg-banner.jpg);
    background-size: cover;
    min-height: 600px;
    color: white;
    text-decoration: none;
}

.jumbotron-reviews{
    background-image: url(../img/dog-banner.jpg);
    background-size: cover;
    min-height: 600px;
    color: white;
    text-decoration: none;
}

.jumbotron-join-us{
    background-image: url(../img/dog-licking-mans-face.jpg);
    background-size: cover;
    min-height: 400px;    
    text-decoration: none;
}

.booking-jumbotron-text {
    color: #17A2B8;
    font-family: 'Amatic SC', cursive;
}


.join-us-text-1{
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px #000000;
}
.join-us-text-2{
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px #000000;
}

.register-button-padding{
    padding-bottom: 350px;
    padding-left: 150px;
}

.top-content .carousel-item {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .top-content .carousel-item-4 {
    background-image: url(../img/slides/slide-img-4.jpg);
} */

input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}